@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/СeraPro/CeraPro-Regular.woff2) format('woff2'),
         url(../fonts/СeraPro/CeraPro-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/СeraPro/CeraPro-Medium.woff2) format('woff2'),
         url(../fonts/СeraPro/CeraPro-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/СeraPro/CeraPro-Bold.woff2) format('woff2'),
         url(../fonts/СeraPro/CeraPro-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Cera Pro', sans-serif;
    margin: 0;
    padding: 20px;
}

.header {
    border-bottom: 1px solid #EDF6EE;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo img {
    height: 30px;
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 16px;
    padding: 5px 0;
    display: inline-block;
}

.menu > li > a {
    position: relative;
    transition: 0.2s;
}

.menu > li:hover > a {
    font-weight: 600;
}

.menu > li:hover > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 2px;
    background: #46A358;
}

.dropdown::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    background: transparent;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 30px);
    left: -50%;
    min-width: 180px;
    max-width: 240px;
    width: max-content;
    background: #EDF6EE;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.25s ease;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 16px;
    color: #3d3d3d;
    white-space: normal;
    word-break: break-word;
    line-height: 1.4;
}

.dropdown-menu a:hover {
    background: #1A712A;
    color: #f5f5f5;
}

.submenu {
    position: relative;
}

.submenu > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-right {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.arrow-right::after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: 2px solid #3d3d3d;
    border-bottom: 2px solid #3d3d3d;
    transform: rotate(-45deg);
    transition: 0.25s;
}

.submenu:hover > a.arrow-right::after {
    transform: rotate(135deg);
}

.dropdown li:hover > a.arrow-right::after {
    border-color: #fff;
}

.submenu:hover > a {
    background: #1A712A;
    color: #fff;
}

.submenu-menu {
    position: absolute;
    top: -127px;
    left: calc(100% + 2px);
    min-width: 180px;
    max-width: 240px;
    width: max-content;
    background: #EDF6EE;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: 0.25s ease;
    z-index: 2;
}

.submenu:hover .submenu-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}  

.submenu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 12px;
    height: 100%;
    background: transparent;
} 

.main {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
}

.hero {
    display: flex;
    background-color: #f5f5f5;
    padding: 40px 0;
    font-size: 0;
}

.content,
.image-box {
    font-size: 16px;
}

.content {
    width: 50%;
    padding: 40px 0 40px 40px;
    box-sizing: border-box;
}

.image-box {
    width: 50%; 
 /*   text-align: center; */
}

.image-box img {
   /* display: block; */
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    margin: 10px 0;
    line-height: 1.1;
}

h1 span {
    color: #46A358;
}

.sub {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.description {
    color: #727272;
    line-height: 1.6;
    margin: 20px 0;
}

/* Button */
.btn {
    display: inline-block;
    background-color: #46A358;
    color: white;
    padding: 8px 30px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #3d8f4d;
}

button {
    font-family: inherit;
}

.shop {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.sidebar h3 {
    margin: 10px 15px;;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 18px 26px;
}

.sidebar a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #46A358;
}

.sidebar a.active {
    color: #46A358;
    font-weight: bold;
    pointer-events: none;
}

.sale {
    margin-top: auto;
}

.sale img {
    width: 100%;
    margin-top: 20px;
}

.products {
    flex: 1;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* tabs */
.tabs {
    display: flex;
    gap: 20px;
}

.tabs a {
    text-decoration: none;
    color: #3d3d3d;
    padding-bottom: 5px;
}

.tabs a.active {
    color: #46A358;
    border-bottom: 2px solid #46A358;
    pointer-events: none;
}

.tabs a:hover {
    color: #46A358;
}

.sort {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #727272;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    padding-right: 20px;
}

.arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    pointer-events: none;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: calc(33.333% - 20px);
    background: #fff;
    position: relative;
    transition: 0.3s;
    z-index: 1;
}

.card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-img {
    position: relative;
    background: #f5f5f5;
    padding: 10px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    display: block;
    transition: 0.3s;
}

.card:hover .card-img img {
    transform: scale(1.05);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #46A358;
    transition: 0.3s;
    z-index: 2;
}

.card:hover::before {
    width: 100%;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #46A358;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
}

.card-icons {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, 10px);
    display: flex;
    gap: 25px;
    opacity: 0;
    transition: 0.3s;
}

.card-icons button {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-icons img {
    width: 18px;
    transition: 0.3s;
}

.card-icons button:hover img {
    filter: invert(48%) sepia(24%) saturate(600%) hue-rotate(70deg);
}

.card-icons button:hover {
    transform: scale(1.1);
}

.card:hover .card-icons {
    opacity: 1;
    transform: translate(-50%, 0);
}

.card p {
    margin: 10px 15px 5px;
}

.price {
    color: #46A358;
    font-weight: bold;
    margin: 0 15px 15px;
}

.price-box {
    display: flex;
    gap: 10px;
}

.old-price {
    color: #A5A5A5;
    text-decoration: line-through;
}

/* ===== PAGINATION ===== */
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 25px;
}

.pagination a {
    display: inline-flex;      
   /* align-items: center; */
    justify-content: center;
    width: 30px;
    padding: 6px 0;   
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: 0.3s;
}

.pagination a.active {
    background: #46A358;
    color: #fff;
    border-color: #46A358;
    pointer-events: none;
}

.pagination a:hover {
    border-color: #46A358;
    color: #46A358;
}

/* ======================= */
.banners {
    display: flex;
    gap: 28px;
    margin-bottom: 138px;
}

.banner {
    display: flex;
    align-items: center;
   /* background: #f5f5f5; */
    padding: 10px;
    flex: 1;
}

.banner img {
  /*  width: 150px; */
  margin-top: -52px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
}

.banner-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 14px;
    color: #727272;
    margin-bottom: 25px;
}

.blog {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}

.blog h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.blog-subtitle {
    color: #727272;
    font-size: 14px;
    margin-bottom: 40px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;   
}

.post {
    flex: 1 1 calc(25% - 30px);
    background: #fbfbfb;
    text-align: left;
    transition: 0.3s;
}

.post img {
    width: 100%;
    display: block;
}

.post-content {
    padding: 15px;
}

.post-content time {
    display: block;
    font-size: 14px;
    color: #46A358;
    margin-bottom: 5px;
}

.post-content h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #3d3d3d;
}

.post-content p {
    font-size: 14px;
    color: #727272;
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    position: relative;
    transition: 0.3s;
}

.read-more::after {
    content: "→";
    margin-left: 5px;
    transition: 0.3s;
}

.read-more:hover {
    color: #46A358;
}

.read-more:hover::after {
    margin-left: 10px;
}



/*------------------------------------------------------------------*/
.registration-link {
    text-align: center;
    margin: 60px 0;
}

.registration-btn {
    background: #46A358;
    color: white;
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.registration-btn:hover {
    background: #3d8e4c;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.box {
    background: white;
    width: 420px;
    padding: 40px;
    border-radius: 6px;
    border-bottom: 10px solid #46A358;
    position: relative;

}

.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;
    background: none;
    font-size: 24px;
    color: #46A358;
    cursor: pointer;
    text-decoration: none;
}

.switcher {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.active {
    color: #46A358;
}

.divider {
    margin: 0 10px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin: 20px 0 30px;
}

.form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
}

.password-field {
    position: relative;
}

.password-field .eye {
    position: absolute;
    right: 12px;
    top: 12px;
    opacity: 0.6;
}

.register-submit {
    width: 100%;
    padding: 12px;
    background: #46A358;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.divider {
    text-align: center;
    margin: 25px 0;
    color: #888;
}

.social-btn {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/*=======================================================*/
.footer {
    margin-top: 60px;
    font-size: 14px;
    color: #727272;
}

.footer-top-inner {
    display: flex;
    gap: 40px;
    padding: 25px 0;
}

.footer-features {
    display: flex;
    flex: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature {
    flex: 1;
    position: relative;
    padding: 0 25px;
}

.feature:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 80%;
    background: #e5e5e5;
}

.feature img {
    height: 60px;
    margin-bottom: 10px;
}

.feature h4 {
    font-size: 17px;
    color: #3d3d3d;
    margin: 10px 0;
}

.newsletter {
    flex: 1;
    max-width: 300px;
}

.newsletter-form {
    display: flex;
    margin: 10px 0;
}

.newsletter-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px 0 0 6px;
}

.newsletter-form button {
    border-radius: 0 6px 6px 0;
}

.footer-middle {
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 25px 0;
}

.footer-middle-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    list-style: none;
    margin: 0;
}

.footer-item a {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    padding: 6px 8px;
    border-radius: 6px;
    color: #3d3d3d;
    text-decoration: none;
}

.footer-item a:hover {
    color: #000;
}

.footer-item span {
    max-width: 180px;
    line-height: 1.4;
    word-break: break-word;
}

.footer-bottom-inner {
    display: flex;
    gap: 40px;
    padding: 25px 0;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.footer-col {
    flex: 1;
    min-width: 160px;
    list-style: none;
    padding: 0;
}

.footer-col .title {
    font-size: 17px;
    font-weight: 700;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    color: #727272;
    text-decoration: none;
    margin-bottom: 6px;

}

.footer-col a:hover {
    color: #46A358;
}

.social-list {
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.social-list a {
    
    border-radius: 4px;
    transition: 0.25s ease;
}

/*.social-list img {
    width: 30px;
    height: 30px;
    transition: 0.25s ease;
} */

.social-list a:hover img {
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    margin-top: 20px;
}